.page {
  background-color: #faf9f9;
  min-height: 100vh;
  color: #251f1f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  text-align: center;
  padding: 2rem;
}

.convertor--input {
  width: 50vw;
  font-size: 2rem;
  border: none;
  text-align: center;
}
.convertor--output {
  padding: 2rem;
}
.convertor--error {
  padding: 2rem;
}

.footer {
  padding: 2rem;
}
